html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1.h1 Activation de votre compte
                span=name
            p
                strong cliquez ici pour activer votre compte
            p
                strong name
                span=name
            p
                strong  confirmation_code
                span=confirmation_code
            p
                strong url_confirmation
                span=url_confirmation

           h2.h2 Merci de votre confiance, à bientôt sur MyShopList